/node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

/prisma/seed.js
/prisma/seedPosts.js
/prisma/seedPlans.js
/prisma/seedPlans2.js
/prisma/seedPlans3.js

/test.js
